.contenedor{

    background: khaki;
    border: 1px solid black;
    height: 400px;
    padding: 5px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */

    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center ;
    



}

.box{

    border: 3px solid black;
    font-size: 30px;
    margin: 15px;
    width: 100px;
    height: 100px;

}

.b1{

    order:1 ;
    flex-grow: 1;

}

.b2{

    order:2;
    flex-grow: 2;

}

.b3{

    flex-grow: 3;
    order: 1;

}