html{

    --color-verde: #849C3C;
    --color-negro: #353535;
    --color-rojo: #d33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-linea: #949494;
    --color-azul: lightblue;
    --color-blanco: white;




}


body{

    font-size: 16px;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 0px auto;

}

footer article{

    padding: 10px;
    width: 30.1% ;
    display: inline-block;
    vertical-align: top;

}

hr{

    border-style: dashed;
    color: var(--color-linea);

}

footer img{

    width: 300px;


}

header input {

    text-align: right;

}

header nav ul{

    margin-left: -37px;
}

header nav ul li{
    display: inline-block;
    margin-left: -5px;
    padding: 8px 14px;
    text-align: center;
    width: 17.2%;

}

header nav ul li:nth-child(2){

    background: var(--color-verde);

}


header nav ul li:nth-child(3){

    background: var(--color-negro);

}


header nav ul li:nth-child(4){

    background: var(--color-rojo);

}


header nav ul li:nth-child(5){

    background: var(--color-gris);

}

section article{

    display: inline-block;
    height:370px;
    vertical-align: top;
    width: 18.7%;
    padding: 18px 8px;
    margin-left: -4px;
    margin-right: -4px;

}

section article:nth-child(2){
    background: var(--color-verde);
}
section article:nth-child(3){
    background: var(--color-negro);
}
section article:nth-child(4){
    background: var(--color-rojo);
}
section article:nth-child(5){
    background: var(--color-gris);
}

section article ul{

    list-style: none;

}

section article ul li{


    margin-bottom: 10px;


}


section img{

    width: 150px;

    
}

section,footer{

    background: var(--fondo-negro);


}


.letra-azul{

    color: var(--color-azul);

}
.letra-blanca{

    color: var(--color-blanco);
}

.letra-gris{

    color: var(--color-linea);

}
.nito {

    font-weight: bold;
}
.read-more{

    margin-left: 220px;

}