html{
    --color-azul:rgb(75,95,213);
    --color-blanco:white;
    --color-enlace:rgb(162,156,231);
    --fondo-ayuda:rgb(218,219,241);
    --color-negro:black;

}

body{

    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;

}

.header{
    background: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px,0px;

}
.header img{

    width: 40px;
    vertical-align: middle;

}
.header input[type="submit"]{
    background: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 5px,10px;

}
