html{
    --color-azul:rgb(75,95,213);
    --color-blanco:white;
    --color-enlace:rgb(162,156,231);
    --fondo-ayuda:rgb(218,219,241);
    --color-negro:black;

}

body{

    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;

}


.header{
    background: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px,0px; 
    display: flex;
    justify-content: space-between;
    text-align: center  ;
    align-items: center;

}
.header img{

    width: 40px;
    vertical-align: middle;
    margin-left: 50px;
    

}

.header input{
    
    height:30px;
}

.header input[type="submit"]{
    background: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 5px,10px;

}

.header input[type="button"]{

    background: var(--color-azul);
    border-radius: 5px;
    border: 1px solid var(--color-azul);
    color: var(--color-blanco);
    padding: 5px 10px;
    margin-right: 50px;

}



.help article{

    background: var(--fondo-ayuda);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 80px;

}

.help article input[type="search"]{

    margin-top: 10px;
    width: 50%;
    border-radius: 3px;
    border: 1px solid var(--color-negro);
    height: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    
}

.main{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;

}
.main img {

    width: 50px;
    margin-right: 10px;

}

.main-info{

    display: flex;
    width: 350px;
}

.main-titulo{

    font-weight: bold;

}
.main-link{

    color: var(--color-enlace);

}
.copy-info{

    align-self: flex-end;

}

.footer{

    background: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    height: 250px;
    margin-top: 40px;
    justify-content: space-evenly;

}
.footer article{
    padding: 20px 0px;

}
.footer img{
    width: 40px;
}
.copy-info article{

    margin-top: -20px;

}