html{
    --color-azul:rgb(75,95,213);
    --color-blanco:white;
    --color-enlace:rgb(162,156,231);
    --fondo-ayuda:rgb(218,219,241);
    --color-negro:black;

}

body{

    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;

}


.header{
    background: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px,0px; 
    display: flex;
    justify-content: space-between;
    text-align: center  ;
    align-items: center;

}
.header img{

    width: 40px;
    vertical-align: middle;
    margin-left: 50px;
    

}

.header input{
    
    height:30px;
}

.header input[type="submit"]{
    background: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 5px,10px;
 

}

.header input[type="button"]{

    background: var(--color-azul);
    border-radius: 5px;
    border: 1px solid var(--color-azul);
    color: var(--color-blanco);
    padding: 5px 10px;
    margin-right: 50px;

}



.help article{

    background: var(--fondo-ayuda);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 80px;

}

.help article input[type="search"]{

    margin-top: 10px;
    width: 40%;
    border-radius: 3px;
    border: 1px solid var(--color-negro);
    height: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    
}


