html{
    --color-azul: blue;
}

body{

    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;

}



header{

    grid-area: header;
    /* background: aqua; */
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header ul{

    margin: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{

    font-size: 18px;
    margin: 18px;

}

header ul li:hover{

    color: var(--color-azul);
    border-bottom: 2px solid var(--color-azul);

}

.contenedor{
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar fotos";
}
.fotos{
    /* background: brown; */
    grid-area: fotos;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0px 4px;

}
.fotos img{

    height: auto;
    width: 100%;
}
.sidebar{
    /* background: khaki; */
    grid-area: sidebar;

}
.sidebar ul{

    list-style: none;
    margin: 0px;
    padding: 0px 60px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;

}

.sidebar ul li{
    font-size: 25px;
    margin: 5px;
    padding: 15px;
    width: 100%;
}
.sidebar ul li:hover{
    border-left: 5px solid var(--color-azul);
    color: var(--color-azul);
}
