body{

    font-family: sans-serif;
    font-size: 16px;
    background-color: lightgray;
    margin: 0px auto;
    max-width: 723px;

}

.Contenedor{

    display: grid;
    grid-template:
    "header header"
    "navbar navbar"
    "links principal"
    "lprogress principal"
    ;

}

.cubes{

    display: grid;
    grid-template-columns: repeat(4,minmax(140px,1fr));
    text-align: center;
    gap: 5px;

}

.cubes article:nth-child(1){

    background: rgb(25,168,33);

}

.cubes article:nth-child(2){

    background: rgb(26,109,169);

}

.cubes article:nth-child(3){

    background: rgb(127,26,167);

}

.cubes article:nth-child(4){

    background: rgb(167,25,25);

}

.cubes article{

    border-radius: 5px;
    font-size: 0.6em;
    padding: 10px 15px;
    color:rgb(184,255,213)
    
    
}

.cubes img{

    width: 50px;

}

.header{

    background-color: rgb(35, 93, 146);
    padding: 10px 0px;
    text-align: center;
    font-size: 0.6em;
    grid-area: header;

}
.header img{

    width: 150px;

}
.navbar{

    background: rgb(239, 239, 239);
    text-align: right;
    padding: 10px 5px;
    grid-area: navbar;

}

.navbar img{

    width: 70px;

}


.links {

    background: rgb(30,73,114);
    color: white;
    font-size: 0.6em;
    width: 150px;
    margin-right: 10px;
    grid-area: links;

}

.links h4{

    background: rgb(35,92,146);
    margin: 0px;
    padding: 5px 0px;
    width: 100%;
}
.linksexample{

    margin-left: 10px;

}

.links img{

    width: 15px;
    vertical-align: middle;

}

.panels{

    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,minmax(140px,1fr));
    text-align: center;
    
    

}

.panels h4{

    color: white;
    font-size: 2em;
    margin: 0px;
    width: 100%;

}

.panels article{

    font-size: 0.6em;

}

.panels01porcentaje{
    background: rgb(188,231,240);
}
.panels02porcentaje{
    background: rgb(250,234,203);
}
.panels03porcentaje{
    background: rgb(235,204,208);
}

.panels article:nth-child(1){

    border: 1px solid rgb(188,231,240);
}

.panels article:nth-child(2){
    border: 1px solid rgb(250,234,203);
}

.panels article:nth-child(3){
    border: 1px solid rgb(235,204,208);
}
.principaltitulos{

    color: rgb(174,174,174);
    font-size: 0.6em;

}

.panels img{

    width: 100%;

}

.progress{

    background: rgb(239, 239, 239);
    color: black;
    font-size: 0.6em;
    margin-top: 20px;
    text-align: left;
    color: gray;
    margin-right: 10px;
    margin-bottom: 10px;
    grid-area: lprogress;

}

.progressbarra{

    width: 100%;

}

.progress h4{

    background: rgb(35,92,146);
    color: white;
    margin: 0px;
    padding: 5px 0px;
    width: 100%;

}

.progress h4 img{

    width: 15px;
    vertical-align: middle;

}

.principal{

    background: white;
    grid-area: principal;
    padding: 5px;

}


.usuarios{

    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;

}

.usuarios article{
    background: rgb(74,106,174);
    color: white;
    padding: 10px;
    vertical-align: top;
}

.usuarios input{

    background: rgb(01,190,224);
    border: 1px solid rgb(01,190,224);
    color: white;
    border-radius: 5px;

}

.usuarios img{

    width: 100%;

}