body{

    font-family: sans-serif;
    background:#F2F2F2 ;

}

.acercade{

    height: 500px ;
    margin: 80px auto;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);

}

.acercade_img{

    height: 100% ;
    width: 100% ;
    grid-column: 1/5;
    grid-row: 1/5;
}
.acercade_gradiente{

    background-image: linear-gradient(to top, #0250C5 0%, purple 100%);
    /* height: 100px; */
    grid-column: 2/6;
    grid-row:2/7

}

.acercade_article{

    background-color: white;
    border: 1px solid black;
    padding: 1.5em;
    border-radius: 50px;
    box-shadow: 10px 10px 5px grey;
    grid-column: 4/7;
    grid-row: 3/6;
    /*position: relative; 
    se superpone ante cualquier imagen se le pones relative tiene preferencia */
    z-index: 1;
    /*para ordenar el profundidad primero esta el orden del html despues relative y despues z-indes si poner positivo hasta 
    adelante si es negativo hasta atras usar z index como ultima opcion */

}

.acercade_titulo{

    font-size:  2em;
    margin-bottom: 1em;

}